<!DOCTYPE html>
<html lang="en" onselectstart="return false" oncontextmenu="return false">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheets/styles_reg.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/javascripts/script_register.js"></script>
</head>
<body>
    <div class="container">
        <center>
            <h1><span>Register</span> to continue</h1>
            <form method="post">
            <div class="div-input">
                <input autocomplete="off" name="email" id="username" placeholder="E-mail" type="text" class="username style">
                <input id="email" name="password" placeholder="password" type="password" class="username style">
                <input id="email-confirm" placeholder="Confirm password" type="password" class="username style">
                <div class="show">
                </div>
                <font class="error"></font>
                <button class="btn-submit" type="button" onclick="check()">Submit</button>
            </form>
            </center>
            <h3>Already have  an account ?<font color="#232399"><a href='index.html'>Login here</a></h3></font>
</div>
</div>
</body>
</html>